<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" style="box-sizing: border-box;">

  <head>
    <meta charset="utf-8">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <!--[if mso]>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <style>
    td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
  </style>
  <![endif]-->
    <title>Login to Collapp</title>
    <style>
      .hover-bg-red-600:hover {
        background-color: #dc2626 !important;
      }
    </style>
  </head>

  <body style="box-sizing: border-box; margin: 0; width: 100%; word-break: break-word; -webkit-font-smoothing: antialiased; background-color: #e5e7eb; padding: 48px; font-family: Poppins, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif; color: #4b5563;">
    <div role="article" aria-roledescription="email" aria-label="Login to Collapp" lang="en" style="box-sizing: border-box;">
      <div style="box-sizing: border-box; margin-left: auto; margin-right: auto; max-width: 640px; border-radius: 24px; background-color: #f9fafb; padding: 48px; text-align: center; box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);">
        <img src="{{baseUrl}}/logo.svg" alt="Collapp logo" style="box-sizing: border-box; border: 0; max-width: 100%; vertical-align: middle; line-height: 100%; margin-left: auto; margin-right: auto; height: 48px; width: 48px; opacity: 0.25;">
        <div role="separator" style="box-sizing: border-box; line-height: 16px;">&zwnj;</div>
        <h3 style="box-sizing: border-box; margin: 0; font-size: 24px; font-weight: 400;">Hey, <b style="box-sizing: border-box;">{{name}}</b>!</h3>
        <div role="separator" style="box-sizing: border-box; line-height: 8px;">&zwnj;</div>
        <h1 style="box-sizing: border-box; margin: 0; font-size: 30px; font-weight: 700; color: #dc2626;">Something went wrong 😥</h1>
        <div role="separator" style="box-sizing: border-box; line-height: 48px;">&zwnj;</div>
        <p style="box-sizing: border-box; margin: 0;">An error occured while building your Collapp plugin - <b style="box-sizing: border-box;">{{plugin}}</b>.</p>
        <div role="separator" style="box-sizing: border-box; line-height: 16px;">&zwnj;</div>
        <p style="box-sizing: border-box; margin: 0; border-radius: 6px; background-color: #e5e7eb; padding: 16px; font-family: ui-monospace, Menlo, Consolas, monospace; font-size: 14px;">{{errors}}</p>
        <div role="separator" style="box-sizing: border-box; line-height: 16px;">&zwnj;</div>
        <p style="box-sizing: border-box; margin: 0;">Bad news - we can't publish it at this time. <b style="box-sizing: border-box;">Good news</b> - we are already looking into it.</p>
        <div role="separator" style="box-sizing: border-box; line-height: 48px;">&zwnj;</div>
        <a href="{{url}}" class="hover-bg-red-600" target="_blank" style="box-sizing: border-box; text-decoration: none; margin-left: auto; margin-right: auto; cursor: pointer; border-radius: 12px; background-color: #ef4444; padding: 12px 24px; font-weight: 700; color: #ffffff; transition-property: background-color, border-color, color, fill, stroke; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 150ms; box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);">See for yourself</a>
        <div role="separator" style="box-sizing: border-box; line-height: 52px;">&zwnj;</div>
        <p style="box-sizing: border-box; margin: 0; font-size: 12px; color: #9ca3af;">If you believe this email was delivered by mistake, you can safely ignore it.</p>
        <div role="separator" style="box-sizing: border-box; line-height: 4px;">&zwnj;</div>
        <p style="box-sizing: border-box; margin: 0; font-size: 14px; color: #9ca3af;">Your friends at <a href="" style="box-sizing: border-box; text-decoration: none; color: currentColor;"><b style="box-sizing: border-box;">Collapp</b></a></p>
      </div>
    </div>
  </body>

</html>